*{
  box-sizing: border-box;
  margin: 0;
}

.container {
width: 100%;
}
.col10 {
width: 10%;
border: black thin solid;
float: left;
height: 95px;
background-color: #14e4b8;

}
.contenedor {

  border: thin solid red;
  border: black thin solid;
  background-color: green;
  float: left;

}
.azul {
  border: thin solid red;

  border: black thin solid;
  background-color: blue;
  float: left;
}
.yellow {

  border: thin solid red;

  border: black thin solid;
  background-color: yellow;
  float: left;
}
.orange {

  border: thin solid red;

  border: black thin solid;
  background-color: orange;
  float: left;
}
#palette {
  position: absolute;
  border: thin solid green;
}


/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
	.col10 {
    width: 10%; /* The width is 100%, when the viewport is 800px or smaller */
    text-align: center;

}
body {background-color: blue;}
