*{box-sizing: border-box;
  background-repeat: no-repeat;
}
.top {
float:left;
border: black thin solid;
width: 100%;
text-align: center;
background-color: #ffcc80;
font-size: 10px;
margin-bottom: 0.5%;
font-size: 100%;
}
.button {
  float: right;
  font-size: 30px;
  text-decoration: underline;
  width: 30%;
  background-color: #ffe0b3;
  border-bottom: 1px solid #cccccc;
   border-top: 2px solid #666666;
   border-right: 1px solid #cccccc;
   border-left: 2px solid #666666;
}
.left {
  float: left;
  border: black thin solid;
  width: 100%;
  background-color: #ff6e55;


}.left1 {
  float: left;
  border: black thin solid;
  width: 30%;

}
.left2 {
  float: right;
  border: black thin solid;
  width: 100%;

}
.right {
  float: right;
  border: black thin solid;
  width: 30%
}
.mid {
  float:right;
  width: 20%;
  border: black thin solid;
  background-color: orange;
}
.miedoso{
  float:left;
  width: 19%;
  border: black thin solid;
  background-color: pink;
}
.miedoso2{
  float:right;
  width: 19%;
  border: black thin solid;
  background-color: ;
}
.miedoso3{
  float:right;
  width: 34%;
  border: black thin solid;
  background-color: pink;
  margin-right: 50px;
}
.carro {
width: 100%;
}
.avion {
width: 100%;
}
.avion1 {
width: 100%;
}
.coche {
  width: 100%;
}
.coche2 {
  width: 100%;
}
.texto1 {
  float: left;
}
.texto2 {
  float: right;
}
.texto3 {
  float: right;
}
.texto4 {
  float: right;
}
.otrapagina {
  margin: 3px;
  background: #BDBDBD;
  float:left;
  width: 100%;
  text-align: left;
  font-size: 25px;
  padding: 10px;
}
.boton3 {
  float:left;
  margin: 1%;
  color: red;
  font-size: 20px;
  background:#fdb400;
   border-bottom: 1px solid #cccccc;
    border-top: 1px solid #666666;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #666666;
}
.cochegif {

}
.cochegif2 {
  float: right;
}
.oso {
  width: 100%;
}
.boton_personalizado{
    color: #19070B;
    margin-left: 20px;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
	#left, #right,#top,#subtop,#subright,#submid,#subtop,#mid {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

	img { border-radius: 50%;}

	body { background-color: red;}
}
