*{box-sizing: border-box;
}

.top {
float:left;
border: black thin solid;
width: 100%;
text-align: center;
background-color: #ffcc80;
font-size: 10px;
margin-bottom: 0.5%;
font-size: 100%;
}
.button {
  float: right;
  font-size: 30px;
  text-decoration: underline;
  width: 30%;
  background-color: #ffe0b3;
  border-bottom: 1px solid #cccccc;
   border-top: 2px solid #666666;
   border-right: 1px solid #cccccc;
   border-left: 2px solid #666666;
   border-radius: 50%;
}
.titulo {
margin-top: 1%;
margin-left: 1%;
margin-right: 1%;

}
.verdes {
float:left;
border: black thin solid;
width: 100%;
text-align: center;
background-color: #00cc00;
font-size: 10px;
margin-bottom: 0.5%;
font-size: 100%;
}
.azules {
float:left;
background-color:
border: black thin solid;
width: 100%;
text-align: center;
background-color: #1a1aff;
font-size: 10px;
margin-bottom: 0.5%;
font-size: 100%;
}
.moradas {
float:left;
background-color:
border: black thin solid;
width: 100%;
text-align: center;
background-color: #c61aff;
font-size: 10px;
margin-bottom: 0.5%;
font-size: 100%;
}
.legendarias {
float:left;
background-color:
border: black thin solid;
width: 100%;
text-align: center;
background-color: #ffd11a;
font-size: 10px;
margin-bottom: 0.5%;
font-size: 100%;
}
.img {
float: left;
width: 13%;
margin-left: 1%;
}
.otrapagina {
  background: #19070B;
  float:left;
  width: 100%;
  text-align: left;
  font-size: 25px;
}
.boton3 {
  float:left;
  margin: 1%;
  color: red;
  font-size: 20px;
  background:#fdb400;
   border-bottom: 1px solid #cccccc;
    border-top: 1px solid #666666;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #666666;
}
.boton_personalizado{
    color: #ffffff;
    margin-left: 20px;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
	#left, #right,#top,#subtop,#subright,#submid,#subtop,#mid {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

	img { border-radius: 50%;}

	body { background-color: red;}
}
