*{box-sizing: border-box;
  margin: 0;
}
.todo {
  width: 100%;
  border: black thin solid;
background-color:#9933ff;
}
.top {
  width: 90%;
  border: black thin solid;
float: left;
margin-left: 5%;
background-color: #b3d9ff;
text-align: center;
}
.letra {
  width: 78%;
  padding: 80px;
  /* border: black thin solid; */
  background-color:#ffffff;
  margin-left: 17%;
  margin-top: 5px;
}
.foto {
  width: 9%;
  border: black thin solid;
  background-color:#ffffff;
  float: left;
  padding: 5%;
  margin-top: 5px;
  margin-left: 5%;
  background-image: url(yogi.jpg);
}

.conversacion {
width: 90%;
border: black thin solid;
float: left;
margin-left: 5%;
background-color: #b3d9ff;
text-align: center;
}
.con1 {
width: 30%;
border: black thin solid;
float: left;
margin-left: 5%;
background-color: orange;
text-align: center;
margin-top: 2%;
margin-left: 5%;
padding: 2px;
font-size: 150%;

}
.con2 {
  font-size: 150%;
width: 30%;
border: black thin solid;
margin-left: 5%;
padding: 2px;
background-color: orange;
text-align: center;
margin-top: 7%;
margin-left: 10%;
background-image: url(verde.png);
}
.con3 {
font-size: 150%;
width: 30%;
border: black thin solid;
margin-left: 5%;
padding: 2px;
background-color: orange;
text-align: center;
margin-top: 1%;
margin-left: 12%;
background-color: #993300;
}
.con4 {
  font-size: 150%;
width: 30%;
border: black thin solid;
margin-left: 5%;
padding: 2px;
background-color: orange;
text-align: center;
margin-top: 1%;
margin-left: 10%;
background-image: url(verde.png);
}
.con5 {
  width: 30%;
  border: black thin solid;
  float: left;
  margin-left: 5%;
  background-color: orange;
  text-align: center;
  margin-top: 2%;
  margin-left: 5%;
  padding: 2px;
  font-size: 150%;
}
.con6 {
  font-size: 150%;
width: 30%;
border: black thin solid;
margin-left: 5%;
padding: 2px;
background-color: orange;
text-align: center;
margin-top: 7%;
margin-left: 10%;
background-image: url(verde.png);
}
.con7 {
font-size: 150%;
width: 30%;
border: black thin solid;
margin-left: 5%;
padding: 2px;
background-color: orange;
text-align: center;
margin-top: 1%;
margin-left: 12%;
background-color: #993300;
}
.con8 {
  font-size: 150%;
width: 30%;
border: black thin solid;
margin-left: 5%;
padding: 2px;
background-color: orange;
text-align: center;
margin-top: 1%;
margin-left: 10%;
background-image: url(verde.png);
}
.con9 {
width: 30%;
border: black thin solid;
float: left;
margin-left: 5%;
background-color: orange;
text-align: center;
margin-top: 2%;
margin-left: 5%;
padding: 2px;
font-size: 150%;

}
