*{box-sizing: border-box;
}
html {
  background-image:url()
}
.top {
  background-image: url();
  border: black thin solid;
}
.boton {
  width: 25%;
  border: black thin solid;
  float: right;
  text-align: center;
  background-color: #cccc00;
  color: #000000;
}
.boton1 {
  float: left;
  width: 70%;
  padding: 3%;
  border: black thin solid;
  text-align: center;
  background-color: #2e518b;
  color: #ffffff;
  margin: 1px;
}
.boton3 {
  float: right;
  width: 50%;
  padding: 1%;
  border: black thin solid;
  text-align: center;
  background-color: #2e518b;
  color: #ffffff;
  margin: 1px;
}
.img {
  margin: 1px;
  width: 100px;
}
.mid {
  border: black thin solid;
margin-left: 170px;
width: 75%;
}
.mid2 {
  float: left;
  border: black thin solid;
}
.left {
  float: left;
  border: black thin solid;
  width: 37.3%;
  background-color: #6b8701;
  margin-top: 1px;
}
.right {
  float: right;
  border: black thin solid;
  width: 37.3%;
  background-color: #6b8701;
  margin-top: 1px;
}
.pm {
  float:right;
  width: 9%;
  margin-right: 19%;
  margin-top: 1px;
}
.titulo {
  text-align: center;
}
