*{box-sizing: border-box;
}

html {
  background-color: red;
}

.todo {
  width: 100%;
}
.tarjetas {
  width: 25%;
  height: 235px;
  float: left;
  border: black thin solid;
  border-color: orange;
  border-radius: 10%;
  background-color:  #ffb3b3;

}

.img1 {
  max-width: 80%;
  margin-left: 7%;
  margin-top: 2%;

}

.img2 {
  max-width: 40%;
  margin-left: 7%;
  margin-bottom: 7%;
}
