* { box-sizing: border-box;}

body {
  background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/39405wide.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px;
}

#top {
float: left;
width: 100%;
}

.linea {
  border: black thin solid;
  width: 2%;
  animation: avanzar-linea 5s steps(100) infinite;

}

/* @keyframes avanzar-linea {
  0% { margin-left: 300px; }
  25% { margin-left: -200px; }
  50% { margin-left: 300px; }
  75% { margin-left: -200px; }
  100% { margin-left: 300px; } */

}

.borde-buton {
  /* border: black thin solid; */
  width: 100%;
  margin-top: 70px;
}
.buton {
  border: black thin solid;
  width: 20%;
  padding: 1%;
  margin-left: 750px;
  background-image: url("https://http2.mlstatic.com/telon-de-fondo-verde-chromakey-para-fotografia-18m-x-27m-D_NQ_NP_710372-MLC26467765649_112017-F.jpg");
  text-shadow: 2px 0 0 #ffffff, -2px 0 0 #ffffff, 0 2px 0 #ffffff, 0 -2px 0 #ffffff, 1px 1px #ffffff, -1px -1px 0#ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
/* font-size: 90%; */
}

.barradetiro {
  border: black thin solid;
width: 33.333333333%;
margin-top: 40px;
height: 25px;
float: left;
}

.naranja {
  width: 15%;
  float: left;
  background-color: #ff8533;
  padding: 0;
  margin: 0;
  height: 100%;
}
.naranja1 {
  width: 15%;
  float: right;
  background-color: #ff8533;
  padding: 0;
  margin: 0;
  height: 100%;
}
.verde {
  width: 20%;
  float: right;
  background-color: #00ff00;
  padding: 0;
  margin: 0;
  height: 100%;
}
.red {
  width: 25%;
  float: left;
  background-color: #ff3333;
  padding: 0;
  margin: 0;
  height: 100%;
}
.red1 {
  width: 25%;
  float: right;
  background-color:  #ff3333;
  padding: 0;
  margin: 0;
  height: 100%;

}
.tanque1 {
  float: right;
  width: 160px;
  height: 100px;
  margin-left: 1500px;
  margin-top: 670px;
  position: absolute;
  background-image: url("tanque1.png");
  animation: walk-tanque 3s steps(4) 1 forwards, avanzar-pokeball 3s steps(1000) 1 backwards;
}
.banderarusa {
  float: right;
  width: 111px;
  height: 98px;
  margin-left: 110px;
  margin-top: 620px;
  position: absolute;
  background-image: url("banderaru.png");
  animation: walk-tanque1 3s steps(18) 1 infinite, avanzar-pokeball 3s steps(1000) 1 backwards;
}
.banderaesp {
  float: right;
  width: 203px;
  height: 163px;
  margin-left: 1570px;
  margin-top: 570px;
  position: absolute;
  background-image: url("banderaesp.png");
  animation: walk-banderaru 3s steps(7) 1 infinite, avanzar-pokeball 3s steps(1000) 1 backwards;
}
.tanque2 {
  float: right;
  width: 160px;
  height: 100px;
  margin-left: 150px;
  margin-top: 670px;
  position: absolute;
  background-image: url("tanque2.png");
  animation: walk-tanque 3s steps(4) 1 forwards, avanzar-pokeball 3s steps(1000) 1 backwards;
  position: absolute;
}
.bordevidatanque1 {
  float: left;
  width: 33.333333333%;
  background-color: white;
  border: black thin solid;
  padding: 3px;



}
.marcadortanque1 {

width: 98%;
background-color: red;
border: black thin solid;

}
.nombretanque1 {
    text-shadow: 2px 0 0 #ffffff, -2px 0 0 #ffffff, 0 2px 0 #ffffff, 0 -2px 0 #ffffff, 1px 1px #ffffff, -1px -1px 0#ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
}

.bordevidatanque2 {
float: left;
  width: 33.333333333%;
  background-color: white;
  border: black thin solid;
  padding: 3px;

  background-color: yellow;

@keyframes avanzar-linea {
  100% { margin-left: 1000px; }
}@keyframes avanzar-linea {
  100% { margin-left: 1000px; }
}
}
.marcadortanque2 {
width: 98%;
background-color: red;
border: black thin solid;

}
.nombretanque2 {
    text-shadow: 2px 0 0 #ffffff, -2px 0 0 #ffffff, 0 2px 0 #ffffff, 0 -2px 0 #ffffff, 1px 1px #ffffff, -1px -1px 0#ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
}

@keyframes walk-tanque1 {
  100% { background-position: -640px; }
}
@keyframes walk-tanque1 {
  100% { background-position: -1998px; }
}
@keyframes walk-linea {
  0% {  visibility: visible; }
  100% { background-position: 0px; }
}
