*{box-sizing: border-box;
}
body {
  background-color: blue;
}

.burbuja {
  float: left;
  width: 10%;
  padding: 100px;
 border: black thin solid;
 border-radius: 50%;
 background-color: pink;
 border-color: red;
}
