*{box-sizing: border-box;
  background-repeat: no-repeat;
}

html {
  background-image:url(https://static-assets-prod.epicgames.com/fortnite/static/webpack/8704d4d5ffd1c315ac8e2c805a585764.jpg)
}
.inicio {
border: black thin solid;
width: 60%;
margin-left: 450px;
margin-top:  250px;
border-radius: 25px;
background-color: red;
}
.titulo {
  text-align: center;
  font-size: 40px;
}
.boton {
border: 5px solid #2e518b;
padding: 5px;
background-color: #2e518b;
color: #ffffff;
text-decoration: none;
text-transform: uppercase;
font-family: 'Verdana', sans-serif;
border-radius: 50px;
margin-left: 350px;
margin-top: 100px;
font-size: 200%;
}
.boton1 {
border: 4px solid #2e518b;
padding-bottom: 1px;
background-color: #2e518b;
color: #ffffff;
text-decoration: none;
text-transform: uppercase;
font-family: 'Verdana', sans-serif;
border-radius: 50px;
font-size: 200%;
padding: 10px;
}

#info {
  padding: 20px;
  text-align: center;
}

#all {
  display: none;
}
