*{box-sizing: border-box;
}
#top {
  float:left;
  border: black thin solid;
  width: 100%;
  text-align: center;
  background-color: red;
  font-size: 10px;
  margin-bottom: 0.5%;
  background-image: url(https://2.bp.blogspot.com/-cFVxsHASQNI/TrxJlBgWJnI/AAAAAAAAAVE/Kk9n6bcENyc/s200/fondo+azul.jpg);
}
#right {
  background-image: url(http://www.ecosomnis.com/wp-content/uploads/2016/03/fondo-verde.jpg);
  float:right;
  border: black thin solid;
  width: 25%;
  text-align: center;
  font-size: 40px;
  margin-left: 0.5%;
}
#video {

width: 100%;
}
#subtop {
  float:left;
  border: black thin solid;
  width: 100%;
  text-align: center;
  background-color: red;
  font-size: 40px;
  margin-bottom: 0.5%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGNIhZgtivbTckDDZW62mYtk9IoDlXUjnDaA5EFAJ6e3IHPutoMw);
}
#left {
  float:left;
  border: black thin solid;
  width: 25%;
  text-align: center;
  font-size: 40px;
  margin-right: 0.5%;
  background-image: url(http://4.bp.blogspot.com/-xXPld-ph_j4/TWpuLaAS58I/AAAAAAAAyBQ/zrLGXbn3kNk/s320/4.jpg);

}
#mid {
  float:left;
  width: 49%;
  height: 50%;
}
#gif {
  float:left;
  border: black thin solid;
  width: 40%;
  border-radius: 20%;
  margin-top: 25%;

}
#gif1 {
  float:right;
  border: black thin solid;
  width: 40%;
  border-radius: 20%;
  margin-top: 25%;


}

#submid {
  float:left;
  width: 100%;
  text-align: center;
  font-size: 40px;
  background-image: url(http://4.bp.blogspot.com/-xXPld-ph_j4/TWpuLaAS58I/AAAAAAAAyBQ/zrLGXbn3kNk/s320/4.jpg);

}
#subright {
  float:left;
  width: 100%;
  background-color: red;
  font-size: 40px;
  background-image: url(https://pbs.twimg.com/media/DeEAQPXU8AEQmTB.jpg);
  text-align: center;
}
#fototop {
  float:left;
  width: 15%;
  padding: 5px;
}
#fototop2 {
  float:left;
  width: 10%;
  padding: 5px;
  margin-left: 500px;
}

.boton {
  float:right;
  width: 10%;
  margin: 1%;
  margin-right: 280px;
  color: red;
  font-size: 25px;
  margin-bottom: 50px;
  background:#ADFF2F;
   border-bottom: 1px solid #cccccc;
    border-top: 2px solid #666666;
    border-right: 1px solid #cccccc;
    border-left: 2px solid #666666;
}
.boton1 {
  float:left;
  width: 10%;
  margin: 1%;
  margin-left: 200px;
  color: red;
  font-size: 25px;
  margin-bottom: 50px;
  background:#ADFF2F;
   border-bottom: 1px solid #cccccc;
    border-top: 2px solid #666666;
    border-right: 1px solid #cccccc;
    border-left: 2px solid #666666;
}
.boton2 {
  float:left;
  width: 10%;
  margin: 1%;
  margin-left: 420px;
  color: red;
  font-size: 25px;
  margin-bottom: 50px;
  background:#ADFF2F;
   border-bottom: 1px solid #cccccc;
    border-top: 2px solid #666666;
    border-right: 1px solid #cccccc;
    border-left: 2px solid #666666;
}
#titulo {
  float:left;
  font-size: 5px;
  margin-left: 5%;
}
#tituloleft {
  text-align: center;
  font-size: 25px;
  margin-left: 5%;
  color: blue;
  margin-right: 40;
}
#textoleft {
  text-align: center;
  font-size: 25px;
  margin-left: 5%;
  color: blue;
  margin-right: 40;
}

#opcionestop {
  float: right;
}
#redes {
  font-size: 25px;
  float: right;
  margin-top: 20%;
  color: black;
}
#redes1 {
  font-size: 25px;
  float: left;
  margin-top: 20%;
  color: black;
}
#redes2 {
  font-size: 25px;
  float: left;
  margin-top: 20%;
  margin-left: 70px;
  color: black;

}
.button {
  text-align: center;
  float: right;
  font-size: 50px;
  height: 100%;
  width: 50%;
  border-radius: 20%;
  color: red;
   background: #00CED1;
   border-bottom: 1px solid #cccccc;
   border-top: 2px solid #666666;
   border-right: 1px solid #cccccc;
   border-left: 2px solid #666666;
}
.button3 {
  text-align: center;
  float: right;
  font-size: 50px;
  height: 100%;
  width: 50%;
  border-radius: 20%;
  color: red;
   background: #00CED1;
   border-bottom: 1px solid #cccccc;
   border-top: 2px solid #666666;
   border-right: 1px solid #cccccc;
   border-left: 2px solid #666666;
}
.img {
  width: 20%;
  float: left;
  border-radius: 25%;
}
#armas {
color: red;
}
.otrapagina {
  background: #BDBDBD;
  float:left;
  width: 100%;
  text-align: left;
  font-size: 25px;
}
.boton3 {
  float:left;
  margin: 1%;
  color: red;
  font-size: 20px;
  background:#fdb400;
   border-bottom: 1px solid #cccccc;
    border-top: 1px solid #666666;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #666666;
}
.boton_personalizado{
    color: #19070B;
    margin-left: 20px;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
	#left, #right,#top,#subtop,#subright,#submid,#subtop,#mid {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

	img { border-radius: 50%;}

	body { background-color: red;}
}
