* { box-sizing: border-box;
background-repeat: no-repeat;
margin: 0;
}

html {
  background-image: url("fondo1.png");
  background-size: cover;
  position: relative;
}

#playground {
    margin: 0 auto;
    width: 1124px;
    overflow: hidden;
    border: thin solid black;
    background-color: #f5310a;
}
.winner {
  float: left;
  margin-top: 100px;
  margin-left: 450px;
  visibility: hidden;
  font-family: Mario;
  font-size: 250%;
  animation: walk-winner 1s steps(4) infinite, avanzar-mario 0s steps(1000) infinite;
  animation-delay: 12s;

}
.borde-marcador-mario {
  float: left;
  width: 30%;
  background-color: white;
  border: black thin solid;
  margin: 1%;
  margin-left: 36%;
}
.marcador-mario {
float: left;
width: 98%;
background-color: blue;
border: black thin solid;
margin: 1%;
animation: vida-junkrat 16s steps(10) 1 forwards;
}
.borde-marcador-junkrat {
  float: left;
  width: 30%;
  background-color: white;
  border: black thin solid;
  margin: 1%;
  margin-left: 36%;
}
.marcador-junkrat {
  float: left;
  width: 98%;
  background-color: blue;
  border: black thin solid;
  margin: 1%;
  animation: vida-mario 12s steps(10) 1 forwards;
}

.mariorun {
  width: 200px;
  height: 200px;
  visibility: visible;
  margin-top: 660px;
  background-image: url("mario.png");
  animation: walk-mario 1s steps(12)  12 forwards, avanzar-mario 6s steps(1000) 1 forwards;
}
.mario-win {
  width: 200px;
  visibility: hidden;
  position: absolute;
  height: 200px;
  margin-top: 660px;
  background-image: url("mario-win.png");
  animation: walk-mario-win 1s steps(4) infinite, avanzar-mario 10s steps(1000) infinite;
  animation-delay: 12s;
}
.fuego {
  float: left;
  width: 256px;
  height: 256px;
  visibility: hidden;
  margin-top: 600px;
  position: absolute;
  background-image: url("fuego.png");
  animation: walk-fuego 1s steps(5) infinite, avanzar-fuego 4s steps(1000) 1 forwards;
  animation-delay: 7s;

}
.calamar {
  float: left;
  width: 100px;
  height: 135px;
  margin-top: 600px;
  visibility: hidden;
  position: absolute;
  background-image: url("calamar.png");
  animation: walk-calamar 1s steps(4) infinite, avanzar-calamar 6.5s steps(1000) 1 forwards;
}

.caballo {
  width: 300px;
  height: 300px;
  float: right;
 margin-top: 630px;
  background-image: url("caballo.png");
  animation: walk-caballo 1s steps(6) 11 forwards, avanzar-caballo 5s steps(1000) infinite;
}
.junkrat-quemado {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 350px;
  visibility: hidden;
 margin-top: 560px;
  background-image: url("junkrat-quemado.png");
  animation: walk-junkrat-quemado 1s steps(11) infinite, avanzar-caballo 5s steps(1000) infinite;
  animation-delay: 11s;
}
.bomba {
  width: 160px;
  height: 120px;
  margin-top: 650px;
  position: absolute;
  visibility: hidden;
  right: 500px;
  float: right;
  background-image: url("bomba.png");
  animation: walk-bomba 1s steps(21) infinite, avanzar-bomba 2s steps(1000) 1 forwards;
  animation-delay: 7s;
}
.fondo {
  width: 1920px;
  height: 77px;
  background-image: url("fondo.png");
  animation: mover-suelo 16s steps(1000) 1 forwards;
  position: relative;
}
.Nombre-mario {
  font-family: Mario;
  margin-top: 1%;
}
.Nombre-junkrat {
  font-family: Mario;
  margin-top: 1%;
}



@keyframes walk-mario {
  100% { background-position: -2400px; }
}
@keyframes walk-winner {
  0% {  visibility: visible; }
  100% { background-position: -2400px; }
}
@keyframes walk-mario-win {
  0% {  visibility: visible; }
  100% { background-position: -800px; }
}
@keyframes walk-fuego {
  0% {  visibility: visible; }
  100% { background-position: -1280px; }
}
@keyframes walk-calamar {
  0% {  visibility: visible; }
  100% { background-position: -400px; }
}

@keyframes walk-caballo {
  0% {  visibility: visible; }
  100% { background-position: -1800px;}
}
@keyframes walk-junkrat-quemado {
  0% {  visibility: visible; }
  100% { background-position: -3300px; }
}
@keyframes walk-bomba {
  0% {  visibility: visible; }
  100% {  background-position: -3360px; }
}

@keyframes avanzar-mario {
  100% {margin-left: 0%; }
}
@keyframes avanzar-calamar {
  100% {margin-left: 850px; visibility: hidden;}
}
@keyframes vida-mario {
  54% {width: 100%; }
  55% {width: 55%; }
  95% {width: 55%; }
  96% {width: 40%;}
  97% {width: 40%; }
  98% {width: 20%; }
  99%{width: 20%;}
  100% {width: 0%;}
}
@keyframes vida-junkrat {
  54% {width: 100%; }
  55% {width: 55%; }
  95% {width: 55%; }
}
@keyframes avanzar-fuego {
  100% {margin-left: 650px; visibility: hidden;}
}
@keyframes avanzar-bomba {
  100% {margin-right: 780px; visibility: hidden;}
}


@keyframes avanzar-caballo {
  100% {margin-right: 0%; }
}

@keyframes mover-suelo {
  100% {background-position: -800px 0px; }
}


@font-face {
  font-family: Mario;
  src: url("SuperMario256.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Pokemon;
  src: url("Pokemon Solid.ttf");
  font-weight: bold;
}
