*{box-sizing: border-box;
}

#mycanvas {
  background-color: #f94009;
 width: 900px;
  height: 400px;
  border: blue thin solid;
  border-radius: 10%;
  margin-left: 400px;
  margin-top: 200px;
  border-width: 5px;
}

#mycanvas2 {
  background-color: #eaf811;
 width: 800px;
  height: 300px;
  border: blue thin solid;
  border-radius: 50%;
  margin-left: 400px;
  margin-top: 100px;
  border-width: 10px;
}
