* { box-sizing: border-box;
background-repeat: no-repeat;
margin: 0;
}

html {
  background-image: url("fondo.png");
  visibility: hidden;
  background-size: cover;
  animation: fondo 35s steps(22) 1 forwards;

}
.pokedex {
background-color: red;
width: 30%;

  font-family: Pokemon;
  visibility: hidden;
  position: absolute;
  border: black thin solid;
  margin-top: 300px;
  text-align: center;
  margin-left: 36%;
  animation: walk-pokemon2 6s steps(30) 10 forwards;
  animation-delay: 15s;
}


.dentro-pokedex {
  text-align: center;
  background-color: #09f9f1;
  width: 500px;
  height: 138px;
  position: absolute;
  visibility: hidden;
width: 91%;
background-image: url("pokemon.png");
border: black thin solid;
text-align: right;
margin: 1%;
animation: walk-pokemon2 6s steps(30) 10 forwards;
animation-delay: 15s;
}
.entrenador {
  width: 500px;
  height: 350px;
  visibility: visible;
  right: 10px;
  margin-top: 370px;
  position: absolute;
  background-image: url("entrenador.png");
  animation: walk-entrenador 14s steps(22) 1 forwards;
}
.pokeball {
  width: 500px;
  height: 648px;
  visibility: hidden;
  right: 10px;
  margin-top: 270px;
  position: absolute;
  background-image: url("pokeball.png");
  animation: walk-pokeball 3s steps(30) 1 forwards, avanzar-pokeball 3s steps(1000) 1 backwards;
  animation-delay: 3s;
}
.winner {
  float: left;
  margin-top: 550px;
  margin-left: 280px;
  visibility: hidden;
  font-family: Pokemon;
  font-size: 350%;
  animation: walk-winner 1s steps(4) 3 forwards, avanzar-mario 0s steps(1000) infinite;
  animation-delay: 12s;
}
.pokemon {
  width: 500px;
  height: 138px;
  visibility: visible;
  left: 20px;
  margin-top: 570px;
  position: absolute;
  background-image: url("pokemon.png");
  animation: walk-pokemon 6s steps(30) 1 forwards;
}
.pokeball-captura {
  width: 256px;
  height: 256px;
  visibility: hidden;
  left: 20px;
  margin-left: 10%;
  margin-top: 570px;
  position: absolute;
  background-image: url("pokeball-captura.png");
  animation: walk-pokeball-captura 2s steps(9) 3 forwards;
  animation-delay: 6s;
}
.pajaro {
  width: 124px;
  height: 124px;
  visibility: visible;
  right: 10px;
  margin-top: 100px;
  position: absolute;
  background-image: url("pajaro.png");
  animation: walk-pajaro 5s steps(53) 3 forwards, avanzar-pajaro 13s steps(1000) 1 forwards;
}
.pajaro2 {
  width: 124px;
  height: 124px;
  visibility: hidden;
  right: 10px;
  margin-top: 30px;
  position: absolute;
  background-image: url("pajaro.png");
  animation: walk-pajaro 5s steps(53) 3 forwards, avanzar-pajaro 13s steps(1000) 1 forwards;
animation-delay: 1s;
}
.pajaro3 {
  width: 124px;
  height: 124px;
  visibility: hidden;
  right: 10px;
  margin-top: 120px;
  position: absolute;
  background-image: url("pajaro.png");
  animation: walk-pajaro 5s steps(53) 3 forwards, avanzar-pajaro 13s steps(1000) 1 forwards;
animation-delay: 2s;
}
.pajaro4 {
  width: 124px;
  height: 124px;
  visibility: hidden;
  right: 10px;
  margin-top: 30px;
  position: absolute;
  background-image: url("pajaro.png");
  animation: walk-pajaro 5s steps(53) 3 forwards, avanzar-pajaro 13s steps(1000) 1 forwards;
animation-delay: 3s;
}
.ho-ho {
  width: 500px;
  height: 278px;
  visibility: hidden;
  right: 10px;
  margin-top: 80px;
  position: absolute;
  background-image: url("ho-ho.png");
  animation: walk-ho-ho 5s steps(66) 3 forwards, avanzar-pajaro 13s steps(1000) 1 forwards;
  animation-delay: 16s;
}


@keyframes walk-winner {
  0% {  visibility: visible; }
  100% { background-position: -2400px; }
}
@keyframes walk-entrenador {
  100% { background-position: -11000px; }
}
@keyframes walk-pokemon {
  100% { background-position: -15000px; }
}
@keyframes walk-pokemon2 {
  0% {  visibility: visible; }
  100% { background-position: -15000px; }
}
@keyframes walk-pajaro {
  0% {  visibility: visible; }
  100% { background-position: -6572px; }
}
@keyframes walk-ho-ho {
  0% {  visibility: visible; }
  100% { background-position: -33000px; }
}
@keyframes walk-pokeball {
  0% {  visibility: visible; }
  100% { background-position: -15000px; }
}
@keyframes walk-pokeball-captura {
  0% {  visibility: visible; }
  100% { background-position: -2304px; }
}
@keyframes avanzar-pajaro {
  100% {margin-right: 100%; }
}
@keyframes avanzar-mario {
  100% {margin-left: 0%; }
}
@keyframes avanzar-pokeball {
  100% {margin-right: 70%; }
}
@font-face {
  font-family: Pokemon;
  src: url("Pokemon Solid.ttf");
  font-weight: bold;
}
@keyframes fondo {
  0% {background-image: url("fondo.png"); visibility: visible; }
  90% {background-image: url("fondo1.png"); }
  100% {background-image: url("fondo1.png"); }
}
