*{
  box-sizing: border-box;
  margin: 0;
}
.todo {
width: 100%;
border: black thin solid;
background-color: green;

}
.resultados {
width: 30%;
border: black thin solid;
margin-left: 40%;
margin-top: 7%;
padding: 1%;
background-color: #ffff80;

}
.boton1 {
width: 10%;
border: black thin solid;
float: left;
margin-top: 5%;
margin-left: 30%;
border-radius: 10%;

}
.boton2 {
width: 10%;
border: black thin solid;
float: left;
margin-top: 5%;
margin-left: 4%;
border-radius: 10%;


}
.boton3 {
width: 10%;
border: black thin solid;
float: left;
margin-top: 5%;
margin-left: 4%;
border-radius: 10%;


}

.boton4 {
width: 10%;
border: black thin solid;
float: left;
margin-top: 5%;
margin-left: 2%;

}
.boton5 {
  width: 10%;
  border: black thin solid;
  float: left;
  margin-top: 5%;
  margin-left: 30%;
  border-radius: 10%;


}
.boton6 {
  width: 10%;
  border: black thin solid;
  float: left;
  margin-top: 5%;
  margin-left: 4%;
  border-radius: 10%;

}
.boton7 {
  width: 10%;width: 10%;
  border: black thin solid;
  float: left;
  margin-top: 5%;
  margin-left: 4%;
  border: black thin solid;
  float: left;
  margin-top: 5%;
  margin-left: 4%;
  border-radius: 10%;


}
.boton8 {
  width: 10%;
  border: black thin solid;
  float: left;
  margin-top: 5%;
  margin-left: 2%;

}
.boton9 {
  width: 10%;
  border: black thin solid;
  float: left;
  margin-top: 5%;
  margin-left: 30%;
  border-radius: 10%;

}
.boton0 {
  width: 10%;
  border: black thin solid;
  float: left;
  margin-top: 5%;
  margin-left: 4%;
  border-radius: 10%;

}
.botonc {
  width: 10%;
  border: black thin solid;
  float: left;
  margin-top: 5%;
  margin-left: 4%;
  border-radius: 10%;

}
.botonigual {
  width: 10%;
  border: black thin solid;
  float: left;
  margin-top: 5%;
  margin-left: 2%;
  border-radius: 10%;


}
.botonmas {
  width: 10%;
  border: black thin solid;
  float: left;
  margin-top: 5%;
  margin-left: 37%;
  border-radius: 10%;

}
.botonmenos {
  width: 10%;
  border: black thin solid;
  float: left;
  margin-top: 5%;
  margin-left: 4%;
  border-radius: 10%;
}
.botonmultiplicacion {
  width: 10%;
  border: black thin solid;
  float: left;
  margin-top: 5%;
  margin-left: 4%;
  border-radius: 10%;
}
.botondivision {
  width: 10%;
  border: black thin solid;
  float: left;
  margin-top: 5%;
  margin-left: 44%;
  border-radius: 10%;
}
.botoncoma {
  width: 10%;
  border: black thin solid;
  float: left;
  margin-top: 5%;
  margin-left: 4%;
  border-radius: 10%;
}
.boton {
  width: 100%;
  font-size: 35px;
  background-color: #ff8080;

}
.textbox {
  width: 100%;
  padding: 4px;

}
.borar {
  width: 100%;
  font-size: 35px;
  background-color: #ff8080;

}
.igual {
  width: 100%;
  font-size: 35px;
  background-color: #ff8080;

}
.titulo {
  text-align: center;
  color: red;
  margin-top: auto;
}


/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
	#todo {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

	.boton { border-radius: 50%;}

	body { background-color: red;}
}
